<h1>Dashboard</h1>
<p>Welcome to Isegoria! From here, you can manage your site, post news, manage user access, etc.</p>
<p>Further documentation will be coming soon, meanwhile feel free to browse using the menu on the left.</p>
