<div id="dashboard_list">
    <p>Welcome to Isegoria! From here, you can manage your site, post news, manage user access, etc.</p>
    <p>Further documentation will be coming soon, in the meantime please feel free to browse using the menu on the left.</p>
</div>
