/* line 5, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
#background {
  background-color: #313E4D;
  background: url(home/signup_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  -webkit-filter: blur(8px);
  -webkit-transform: translateZ(0px);
  /* Won't work with the flip effect! */
}

/* line 20, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
#centering {
  background-color: none;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
}

/* line 34, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
#home_container {
  background-color: white;
  width: 1300px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -650px;
  margin-top: -300px;
  border-radius: 8px;
}

/* line 49, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
#signup_form_container {
  background-color: white;
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 8px;
  overflow-y: scroll;
}

/* line 67, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
#card {
  background-color: white;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 3px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 3px 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0px 1px 1px white, 0px 3px 8px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: inset 0px 1px 1px white, 0px 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 3px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-animation: pop 0.5s 0.5s;
  -webkit-animation-fill-mode: backwards;
  -webkit-transform: default;
}

/* line 87, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
#card .logosmall {
  width: 128px;
  height: 128px;
}

/* line 96, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
#text h1 {
  line-height: 1em;
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  font-family: "Museo Sans Rounded", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  color: #313E4D;
}

/* line 107, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
#text p {
  margin: auto;
  font-size: 16px;
  text-align: center;
  font-family: "Museo Sans Rounded", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #313E4D;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 114, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
#logo {
  padding-top: 20px;
  width: 138px;
  height: 90px;
  margin: auto;
}

/* End of general css, and the beginning of the effects collection. Edit with caution. */
@-webkit-keyframes cloudy {
  /* line 125, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  from {
    background-position: 5% 5%;
  }

  /* line 128, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  to {
    background-position: 1300% 0%;
  }
}

@-webkit-keyframes flip {
  /* line 134, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  from {
    -webkit-transform: rotateX(90deg) translateY(0px) perspective(500px);
    opacity: 0;
  }

  /* line 139, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  30% {
    -webkit-transform: rotateX(-15deg) translateY(0px) perspective(500px);
    opacity: 1;
  }

  /* line 145, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  50% {
    -webkit-transform: rotateX(4deg) translateY(0px) perspective(400px);
    opacity: 1;
  }

  /* line 151, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  70% {
    -webkit-transform: rotateX(-2deg) translateY(0px) perspective(400px);
    opacity: 1;
  }

  /* line 157, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  to {
    -webkit-transform: rotateX(0deg) translateY(0px) perspective(400px);
    opacity: 1;
  }
}

@-webkit-keyframes turnover {
  /* line 164, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg) perspective(800px);
    opacity: 0;
  }

  /* line 170, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  to {
    -webkit-transform: rotateX(0deg) rotateY(180deg) perspective(800px);
    opacity: 1;
  }
}

@-webkit-keyframes pop {
  /* line 178, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  from {
    -webkit-transform: scale(0.1);
    opacity: 0;
  }

  /* line 183, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  60% {
    -webkit-transform: scale(1.1);
    opacity: 1;
  }

  /* line 188, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  to {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes shift {
  /* line 194, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  from {
    -webkit-transform: translate(-1000px, 0px) scale(0.75) rotateY(-180deg);
    opacity: 0;
  }

  /* line 199, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  to {
    -webkit-transform: translate(0px, 0px) scale(1) rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  /* line 207, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  from {
    opacity: 0;
  }

  /* line 210, /home/david/workspace/EulersBridge/IsegoriaWeb/app/assets/stylesheets/home.css.scss */
  to {
    opacity: 1;
  }
}
