<table>
  <tr>
    <td class="color_cell" >
      <input type="button" class="color_cell_button" style="background-color: #FF0000; color:#FF0000" value="#FF0000">
    </td>
    <td class="color_cell" >
    <input type="button" class="color_cell_button" style="background-color: #006633; color:#006633" value="#006633">
    </td>
    <td class="color_cell" >
    <input type="button" class="color_cell_button" style="background-color: #0000FF; color:#0000FF" value="#0000FF">
    </td>
    <td class="color_cell">
    <input type="button" class="color_cell_button" style="background-color: #6600FF; color:#6600FF" value="#6600FF">
    </td>
    <td class="color_cell">
    <input type="button" class="color_cell_button" style="background-color: #000000; color:#000000" value="#000000">
    </td>
  </tr>
  <tr>
    <td class="color_cell" >
      <input type="button" class="color_cell_button" style="background-color: #FF9900; color:#FF9900" value="#FF9900">
    </td>
    <td class="color_cell" >
    <input type="button" class="color_cell_button" style="background-color: #009933; color:#009933" value="#009933">
    </td>
    <td class="color_cell" >
    <input type="button" class="color_cell_button" style="background-color: #0066FF; color:#0066FF" value="#0066FF">
    </td>
    <td class="color_cell">
    <input type="button" class="color_cell_button" style="background-color: #9900FF; color:#9900FF" value="#9900FF">
    </td>
    <td class="color_cell">
    <input type="button" class="color_cell_button" style="background-color: #666666; color:#666666" value="#666666">
    </td>
  </tr>
  <tr>
    <td class="color_cell" >
      <input type="button" class="color_cell_button" style="background-color: #FFCC00; color:#FFCC00" value="#FFCC00">
    </td>
    <td class="color_cell" >
    <input type="button" class="color_cell_button" style="background-color: #00CC33; color:#00CC33" value="#00CC33">
    </td>
    <td class="color_cell" >
    <input type="button" class="color_cell_button" style="background-color: #0099FF; color:#0099FF" value="#0099FF">
    </td>
    <td class="color_cell">
    <input type="button" class="color_cell_button" style="background-color: #9966FF; color:#9966FF" value="#9966FF">
    </td>
    <td class="color_cell">
    <input type="button" class="color_cell_button" style="background-color: #AAAAAA; color:#AAAAAA" value="#AAAAAA">
    </td>
  </tr>
  <tr>
    <td class="color_cell" >
      <input type="button" class="color_cell_button" style="background-color: #FFFF00; color:#FFFF00" value="#FFFF00">
    </td>
    <td class="color_cell" >
    <input type="button" class="color_cell_button" style="background-color: #00FF33; color:#00FF33" value="#00FF33">
    </td>
    <td class="color_cell" >
    <input type="button" class="color_cell_button" style="background-color: #00FFFF; color:#00FFFF" value="#00FFFF">
    </td>
    <td class="color_cell">
    <input type="button" class="color_cell_button" style="background-color: #FF66FF; color:#FF66FF" value="#FF66FF">
    </td>
    <td class="color_cell">
    <input type="button" class="color_cell_button" style="background-color: #FFFFFF; color:#FFFFFF" value="#FFFFFF">
    </td>
  </tr>
</table>