<% provide(:title, t(:title_register_success).capitalize) %>
<div id="centering">
   <div id="card">       
    <div id="logo">
      <%= image_tag "home/Tick.png", class: "logosmall", :alt => "Logosmall" %>
    </div>
    <div id="text">
      <h1><%=t(:home_register_thanks)%></h1>
        <p><%=t(:home_register_ok_message)%></p>
    </div>
  </div> 
</div>