// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_image{
  width: 300px;
  height: 200px;
}

.article_image_thumbnail{
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

.article_item{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 100px;
	margin-left: 100px;
	padding: 10px;
	border-style: none;
	//border-radius: 6px;
	border-bottom-width: 0.15px;
	border-bottom-style: solid;
	border-bottom-color: #AAAAAA;
}