// Place all the styles related to the elections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.election_item{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 100px;
	margin-left: 100px;
	padding: 10px;
	border-style: solid;
	border-width: 0.15px;
	border-color: #AAAAAA;
	border-radius: 6px;
}
