// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#section_divider_hr{
	margin-left: 70px;
	margin-right: 70px;
    border-color: #AFAFAF;
	background-color: #AFAFAF;
	color: #AFAFAF;
}

#first_landing{
	height: 730px;
	position: relative;
	left: 0;
  	right: 0;
  	top:0;
}

#first_landing_background
{
	background: url(home/signup_background.jpg) no-repeat center center;
	height: 100%;
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
  	-ms-filter: blur(8px);
  	filter: blur(8px);
}

#first_landing_content
{
	background-color: transparent;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#first_landing_header{
 	height: 75px;
 	width: 100%;
}
#landing_logo{
	color: #FFFFFF;
	float: left;
	padding-right: 15px;
	padding-left: 45px;
	padding-top: 20px; 
	height: 75px;
}

#landing_logo .img{
	vertical-align: middle;
}

#first_landing_header #controls{
	color: #FFFFFF;
	float: right;
	padding-right: 25px;
	padding-left: 15px;
	height: 75px;
}

#controls button{
	background: transparent;
	font-family: "MuseoSansRounded500Regular";
	font-size: 120%;
	height: 55px;
	color: #FBFBFB;
	width: 150px;
}

#controls button:hover{
	background: url(landing/Button_Rectangle_56.png) no-repeat center center !important;
	color: #FBFBFB;
}

.landing-link-border
{
  //background: url(landing/Button_Rectangle_56.png) no-repeat center center !important;
  width: 150px;
}

#first_landing_header #controls .button{
	vertical-align: middle;
}


#first_content{
color: #FFFFFF;
height: 725px;
width: 100%;
padding: 70px;
padding-top: 25px;
}

#first_content #left_content{
height: 630px;
width: 545px;
float: left;
padding-top: 115px;
padding-left: 55px;
padding-right: 15px;
}
#first_content #right_content{
height: 630px;
width: 420px;
float: right;
padding-left: 35px;
//padding-right: 15px;
}

#first_content #left_content h1{
font-family: 'MuseoSansRounded100Regular';
font-size: 400%;
margin-bottom: 20px;
}

#first_content #left_content h4{
font-family: 'MuseoSansRounded500Regular';
font-size: 150%;
}

#first_content #left_content .mob-app-name{
font-family: 'MuseoSansRounded500Regular';
font-size: 120%;
padding-top: 20px;
line-height: 98%;
}

#first_content #left_content .mob-app-version{
font-family: 'MuseoSansRounded100Regular';
font-size: 95%;
}

#second_landing{
	background-color: #FFFFF;
	height: 1100px;
}
#second_landing_top{
	background-color: #4A90E2;
	height: 550px;
}
#second_landing_top #top_text{
	padding-top: 60px;
	padding-bottom: 40px;
	padding-right: 70px;
	padding-left: 70px;
	height: 250px;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
}
#second_landing_top #top_text h1{
	font-family: 'MuseoSansRounded100Regular';
	margin-bottom: 40px;
}

#second_landing_top #top_text h4{
	font-family: 'MuseoSansRounded300Regular';
}

#second_landing_top #right_text{
	padding-top: 40px;
	padding-right: 70px;
	padding-left: 40px;
	height: 300px;
	width: 575px;
	float: right;
	text-align: center;
	color: #FFFFFF;
}

#second_landing_top #right_text h4{
	font-family: 'MuseoSansRounded300Regular';
	text-align: left;
}
#second_landing_bottom{
	height: 550px;
}
#second_landing_bottom #right_text{
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 70px;
	height: 100%;
	width: 575px;
	float: right;
	text-align: left;
	color: #000000;
}

#second_landing_bottom #right_text h1{
	font-family: 'MuseoSansRounded100Regular';
}

#second_landing_bottom #right_text h4{
	font-family: 'MuseoSansRounded300Regular';
	font-size: 115%;
}

#second_landing_bottom #right_text .row{
	padding-top: 20px;
	padding-bottom: 20px;
}
#picture_carousel{
	padding: 40px;
	position: relative;
	top:-850px;
	left:0px;
	height: 850px;
	width: 555px;
	z-index: 10;
}

.carousel-image{
	margin-left: auto;
    margin-right: auto;
    //margin-top: auto;
    //margin-bottom: auto;
    vertical-align: middle !important;
    width:70%;
}

.carousel-indicator {
	border: none !important;
	background-color: transparent !important;
	background-image: url(landing/Indicator_Inactive.png) !important;
}
.carousel-indicator.active {
	background-image: url(landing/Indicator_active.png) !important;
}

#third_landing{
	background-color: #FFFFFF;
	height: 600px;
	text-align: center;
	padding-right: 70px;
	padding-left: 70px;
	padding-top: 50px;
	padding-bottom: 40px;
	font-family: 'MuseoSansRounded100Regular';
}

#third_landing h4{
	font-size: 140%;
	margin-top: 30px;
	margin-bottom: 45px;
}

#third_landing h5{
	padding: 20px;
	font-family: 'MuseoSansRounded300Regular';
	font-size: 120%;
}

#fourth_landing{
	background-color: #E2E2E2;
	height: 800px;
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: 'MuseoSansRounded100Regular';
}

#fourth_landing h4{
	font-family: 'MuseoSansRounded300Regular';
}

#fourth_landing img{
	margin-top: 20px;
	margin-bottom: 20px;
}

#fifth_landing{
	background-color: #313E4D;
	height: 470px;
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 70px;
	padding-bottom: 60px;
	color: #DDDDDD;
	font-family: 'MuseoSansRounded100Regular';
}

#fifth_landing h1{
	color: #FF6D65;
	margin-top: 30px;
	margin-bottom: 30px;
}

#fifth_landing h4{
	font-family: 'MuseoSansRounded300Regular';
}

#landing_footer{
	background-color: #252525;
	height: 250px;
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
	color: #DDDDDD;
	font-family: 'MuseoSansRounded300Regular';
}


#landing_footer #footer_logo{
	text-align: center;
	vertical-align: center;
	height: 100px;
	width: 100px;
	float: left;
	margin-left: 465px;
}

#footer_logo img{
	vertical-align: middle;
	padding-top: 40px;
}

#landing_footer #footer_controls{
	float: right;
	padding-top: 35px;
	padding-right: 25px;
	padding-left: 15px;
	height: 100px;
}

#landing_footer #footer_controls button{
	background: transparent;
	font-family: "MuseoSansRounded500Regular";
	font-size: 125%;
	height: 55px;
	color: #DDDDDD;
	width: 150px;
}

#landing_footer #footer_controls button:hover{
	background: url(landing/Button_Rectangle_56.png) no-repeat center center !important;
	color: #DDDDDD;
}

#landing_footer .copyright{
	font-family: "MuseoSansRounded700Regular";
	//font-weight: bold;
}

#landing_footer h5{
	padding-right: 130px;
	padding-left: 130px;
}