// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//SECTION 1
#more_info_container_section_1{
	//width: 100% !important;
	background: url(landing/alley.jpg) no-repeat center center;
	background-size: cover;
	background-color: #FFFFFF;
	color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#more_info_container_section_1  #header_app_name{
	padding-top: 20px;
	font-weight: bold;
	font-size: 160%;
	float: left;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#more_info_container_section_1 #section_1{
	color: #FFFFFF;
	@media only screen and (min-width: 1024px){
		padding-right: 40px;
		padding-left: 40px;
	}
	@media only screen and (min-width: 768px) and (max-width : 1023px){
		padding-right: 30px;
		padding-left: 30px;
	}
	@media only screen and (min-width: 480px) and (max-width : 767px){
		padding-right: 15px;
		padding-left: 15px;
	}
	@media only screen and (max-width : 480px){
		padding-right: 5px;
		padding-left: 5px;
	}
}
#more_info_container_section_1 #section_1_content h3{
	font-weight: bold;
	margin-bottom: 20px;
	font-family: 'SourceSansPro';
}
#more_info_container_section_1 #section_1_content h4{
	font-size: 140%;
	line-height: 150%;
	margin: 30px 10px;
}
#about_us_map{
	max-width : 100%;
}
#about_us_profiles{
	padding-top: 50px;
	padding-bottom: 50px;
}
#about_us_profiles .row{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;

	& > div {
		margin-bottom: 24px;
	}
}
.profile_picture{
	background-repeat: no-repeat !important;
  background-position: 50%;
  border-radius: 50%;
  background-size: cover !important;
  height: 128px;
  margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 10px !important;
  width: 128px;
}
.profile_name{
	display: block;
	font-size: 140%;
	font-family: 'SourceSansPro';
	line-height: 100%;
	margin: 8px 0;
	text-align: center;
}
.profile_role{
	color: #4a90e2;
	font-size: 100%;
	// font-weight: bold;
	font-family: 'SourceSansPro';
	text-transform: uppercase;
}

//COUNTRY FLAGS NEXT TO PROFILE PICTURES
.country_flags{
	padding-bottom:6px;
}

//PROFILE PICTURES
#jamesK_prof{
	background: url(landing/profile_pictures/JK_Medium.png)
}
#drewS_prof{
	background: url(landing/profile_pictures/DS_Large.png)
}
#charlieE_prof{
	background: url(landing/profile_pictures/CE_Large.jpg)
}
#miguelW_prof{
	background: url(landing/profile_pictures/MW_Large.png)
}
#alanG_prof{
	background: url(landing/profile_pictures/AG_Large.png)
}
#jayL_prof{
	background: url(landing/profile_pictures/JL_Large.png)
}
#anthonyQ_prof{
	background: url(landing/profile_pictures/AQ.jpg)
}
#davidR_prof{
	background: url(landing/profile_pictures/DR_Large.png)
}
#gregN_prof{
	background: url(landing/profile_pictures/GN.jpg)
}
#yikaiG_prof{
	background: url(landing/profile_pictures/YG_Large.png)
}
#ishanB_prof{
	background: url(landing/profile_pictures/IS_Large.png)
}
#jayL_prof:hover , #yikaiG_prof:hover , #gregN_prof:hover,
#davidR_prof:hover , #anthonyQ_prof:hover , #alanG_prof:hover,
#miguelW_prof:hover , #charlieE_prof:hover , #drewS_prof:hover{
	 	opacity:0.7;
    cursor:pointer;
    background-image: url(landing/linkedin_128.png);
}

#landing_container_now_hiring{
	background-color: #FFFFFF;
	height: 60px;
	border-bottom: 1px solid #DDDDDD;
	@media only screen and (max-width : 767px){
		height: 75px;
	}
}

#landing_now_hiring h4{
	font-weight: bold;
	font-family: 'SourceSansPro';
	font-size: 110%;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #707070;
}
.more_info_section_link{
	padding-top: 10px;
	padding-bottom: 10px;
}

.more_info_section_link h4{
	color: #3A80D2;
	font-weight: bold;
	font-family: 'SourceSansPro';
	font-size: 110%;
	margin-bottom: 1px !important;
	@media only screen and (min-width: 767px){
	float: right;
	}
}

.more_info_section_link span.glyphicon-download {
    font-size: 110%;
    color: #3A80D2;
    margin-right: 15px;
}
.more_info_section_link span.glyphicon-ok-circle {
    font-size: 110%;
    color: #3AD280;
    margin-right: 15px;
}


//details page section2
.details-section {
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

	@media only screen and (min-width: 1024px){
		padding-right: 60px;
		padding-left: 50px;
	}
	@media only screen and (min-width: 768px) and (max-width : 1023px){
		padding-right: 50px;
		padding-left: 40px;
	}
	@media only screen and (min-width: 480px) and (max-width : 767px){
		padding-right: 20px;
		padding-left: 15px;
	}
	@media only screen and (max-width : 480px){
		padding-right: 10px;
		padding-left: 5px;
	}
}
#details_section_2 h1, #details_section_3 h1, #details_section_4 h1{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 180%;
	font-weight: bold;
}

#details_section_2 h3, #details_section_3 h3, #details_section_4 h3{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 140%;
	line-height: 150%;
}

#details_section_3_icon{
	padding-top : 5px;
	padding-bottom : 5px;
	margin-right : 10px;
	width: 20px;
  height: 30px;
}
//End Login Pop Up
