// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//SECTION 1
#more_info_container_section_1{
	//width: 100% !important;
	background-color: #FFFFFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#more_info_container_section_1 #admin_login{
	float: right;
	background: #4A90E2;
	font-size: 120%;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 2px;
	margin-top: 9px;
	margin-right: -1px;
	font-family: 'SourceSansPro';
    transition:all 300ms ease;
}

#more_info_container_section_1  #header_app_name{
	color : #4A90E2 ;
	padding-top: 20px;
	font-weight: bold;
	font-size: 160%;
	float: left;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#more_info_container_section_1 hr{
	 border-color: #707070 !important;
}
#more_info_container_section_1 #section_1{
	color: #FFFFFF;
	@media only screen and (min-width: 1024px){
		padding-right: 40px;
		padding-left: 40px;
	}
	@media only screen and (min-width: 768px) and (max-width : 1023px){
		padding-right: 30px;
		padding-left: 30px;
	}
	@media only screen and (min-width: 480px) and (max-width : 767px){
		padding-right: 15px;
		padding-left: 15px;
	}
	@media only screen and (max-width : 480px){
		padding-right: 5px;
		padding-left: 5px;
	}
}
#more_info_container_section_1 #section_1_content h1{
	//margin-bottom: 100px !important;
	color:#606060;
}
#more_info_container_section_1 #section_1_content h3{
	font-weight: bold;
	margin-bottom: 20px;
	font-family: 'SourceSansPro';
}
#more_info_container_section_1 #section_1_content h4{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 140%;
	color: #687A8A;
	line-height: 150%;
	margin-right:10px;
	margin-left:10px;
}
#about_us_map{
	max-width : 100%;
}
#about_us_profiles{
	padding-top: 50px;
	padding-bottom: 50px;
}
#about_us_profiles .row{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.profile_picture{
	background-repeat: no-repeat !important;
    background-position: 50%;
    border-radius: 50%;
    background-size: cover !important;
    margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 10px !important;
    @media only screen and (min-width: 1024px){
		width: 130px;
    	height: 130px;
	}
	@media only screen and (min-width: 768px) and (max-width : 1023px){
		width: 110px;
    	height: 110px;
	}
	@media only screen and (min-width: 480px) and (max-width : 767px){
		width: 70px;
    	height: 70px;
	}
	@media only screen and (max-width : 480px){
		width: 50px;
    	height: 50px;
	}
}
.profile_name{
	font-size: 150%;
	font-family: 'SourceSansPro';
}
.profile_role{
	color: #707070;
	font-size: 110%;
	font-weight: bold;
	font-family: 'SourceSansPro';
}

//COUNTRY FLAGS NEXT TO PROFILE PICTURES
.country_flags{
	padding-bottom:6px;
}

//PROFILE PICTURES
#jamesK_prof{
	background: url(landing/profile_pictures/JK_Medium.png)
}
#drewS_prof{
	background: url(landing/profile_pictures/DS_Medium.png)
}
#charlieE_prof{
	background: url(landing/profile_pictures/CE_Medium.png)
}
#miguelW_prof{
	background: url(landing/profile_pictures/MW_Medium.png)
}
#alanG_prof{
	background: url(landing/profile_pictures/AG_Medium.png)
}
#anthonyQ_prof{
	background: url(landing/profile_pictures/AQ.jpg)
}
#davidR_prof{
	background: url(landing/profile_pictures/DR_Medium.png)
}
#gregN_prof{
	background: url(landing/profile_pictures/GN.jpg)
}
#yikaiG_prof{
	background: url(landing/profile_pictures/YG_Medium.png)
}
#ishanB_prof{
	background: url(landing/profile_pictures/IS_Medium.png)
}
#ishanB_prof:hover , #yikaiG_prof:hover , #gregN_prof:hover,
#davidR_prof:hover , #anthonyQ_prof:hover , #alanG_prof:hover,
#miguelW_prof:hover , #charlieE_prof:hover , #drewS_prof:hover{
	 	opacity:0.7; 
    cursor:pointer;
    background-image: url(landing/linkedin_128.png);
}

#landing_container_now_hiring{
	background-color: #FFFFFF;
	height: 60px;
	border-bottom: 1px solid #DDDDDD;
	@media only screen and (max-width : 767px){
		height: 75px;
	}
}

#landing_now_hiring h4{
	font-weight: bold;
	font-family: 'SourceSansPro';
	font-size: 110%;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #707070;
}
.more_info_section_link{
	padding-top: 10px;
	padding-bottom: 10px;
}

.more_info_section_link button{
	background: transparent;
	font-size: 110%;
	transition:all 200ms ease;
	font-weight: bold;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 10px;
	color: #000000;
	@media only screen and (min-width: 768px) and (max-width : 1023px){
		margin-right: 5px;
	}
}
.more_info_section_link button:hover{
	color: #3A80D2;
}
.more_info_section_link h4{
	color: #3A80D2;
	font-weight: bold;
	font-family: 'SourceSansPro';
	font-size: 110%;
	margin-bottom: 1px !important;
	@media only screen and (min-width: 767px){
	float: right;
	}
}

.more_info_section_link span.glyphicon-download {
    font-size: 110%;
    color: #3A80D2;
    margin-right: 15px;
}
.more_info_section_link span.glyphicon-ok-circle {
    font-size: 110%;
    color: #3AD280;
    margin-right: 15px;
}


//details page section2
.details-section {
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

	@media only screen and (min-width: 1024px){
		padding-right: 60px;
		padding-left: 50px;	
	}
	@media only screen and (min-width: 768px) and (max-width : 1023px){
		padding-right: 50px;
		padding-left: 40px;	
	}
	@media only screen and (min-width: 480px) and (max-width : 767px){
		padding-right: 20px;
		padding-left: 15px;	
	}
	@media only screen and (max-width : 480px){
		padding-right: 10px;
		padding-left: 5px;	
	}
}
#details_section_2 h1, #details_section_3 h1, #details_section_4 h1{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 180%;
	font-weight: bold;
	color:#7C7F88;
}

#details_section_2 h3, #details_section_3 h3, #details_section_4 h3{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 140%;
	color: #687A8A;
	line-height: 150%;
}

#details_section_3_icon{
	padding-top : 5px;
	padding-bottom : 5px;
	margin-right : 10px;
	width: 20px;
  height: 30px;
}
//End Login Pop Up