// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ticket_image{
  width: 300px;
  height: 200px;
}

.ticket_image_thumbnail{
  width: 100px;
  height: 75px;
}

.ticket_item{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 100px;
	margin-left: 100px;
	padding: 10px;
	border-style: solid;
	border-width: 0.15px;
	border-color: #AAAAAA;
	border-radius: 6px;
}
.ticket_name_message{
	font-style: italic;
	font-size: 85%;
	color: #FFFFFF;
	opacity: 0.75;
	padding-left: 20px;
}
.ticket_name_text_field{
	font-size: 200% !important;
    height: 50px !important;
    font-family: 'SourceSansProLight' !important;
    margin-bottom: 5px !important;
}